:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#app {
  min-width: 100%;
  min-height: 100vh;
  width: 100%;
  height: 100%;
}

.page-title {
  font-size: 2em;
  font-weight: 600;
  text-align: center;
  margin-block: 0.5em;
}

a {
  text-decoration: none;
  font-size: 1.2em;
  color: inherit;
}